APP_ENV=development
SECRET_KEY=change-this-before-deploy
DB_PATH=data/app.db

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-admin-password
STUDENT1_USERNAME=student1
STUDENT1_PASSWORD=change-student1-password
STUDENT2_USERNAME=student2
STUDENT2_PASSWORD=change-student2-password
